.menu-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-toolbar {
  position: fixed;
  z-index: 2;
}

.app-title {
  margin-left: 10px;
}

.mat-toolbar-single-row {
  height: 64px!important;
}

.content-area {
  height: 100vh;
}