#title-input {
  font-size: 2em;
}

.full-width {
  width: 100%;
}

.row {
  margin-top: 20px;
}

.spacer {
  flex: 1 1 auto;
}

#rich-text-editor {
  width: 100%;
}

#editor {
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  height: 250px;
  position: relative;
}