<div class="container">
  <div class="row">
    <mat-form-field class="full-width">
      <input id="title-input" matInput placeholder="Post Title" [(ngModel)]="post.title">
    </mat-form-field>
  </div>
  <div class="row">
    <!-- <div id="rich-text-editor" [froalaEditor] [(froalaModel)]="post.content"></div> -->
    <rich-text-editor [content]="post.content"></rich-text-editor>
  </div>
  <div class="row">
    <mat-form-field class="full-width">
      <input matInput placeholder="Post Name" [(ngModel)]="post.name">
    </mat-form-field>
  </div>
  <div class="row">
    <button mat-raised-button color="primary" (click)="submitPost()">
      {{ post.id ? 'Update' : 'Post!' }}
    </button>
    <span class="spacer"></span>
    <button *ngIf="post.id" mat-raised-button (click)="deletePost()">Delete Post</button>
  </div>
</div>